@media (min-width:350px) and (max-width:650px){

.header .ant-space-item:nth-last-child(2){
  display: block !important;
}
.header{
  padding: 0 !important;
}

  .ant-space{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .Nav{
 display: none !important;
   }

   .ant-menu-item{
    width: 100% !important;
    
    text-align: center !important;
     }
    

  
}
@media (min-width:651px) and (max-width:952px){

  
  .header .ant-space-item:nth-last-child(2){
    display: block !important;
  }
   
    .ant-space{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .Nav{
    display: none !important;
     }
    .header .anticon {
      font-size: 50px!important;
     }
  
     .ant-menu-item{
      width: 100% !important;
      
      text-align: center !important;
       }
  
    
    
  }
  @media (min-width:951px) and (max-width:1025px){
    .Nav{
      display: none !important;
       }
       .header .ant-space-item:nth-last-child(2){
        display: block !important;
      }

  }