:root{
  --color-blue: #1890ff;
}


.header {
  
  z-index: 20;
  width: 100%;
  color: rgb(255, 255, 255) !important;
  position: fixed;

}

.lista {
  width: 100%;
  gap: 0px;
  position: absolute;
  top: 63px;
  bottom: 0;
  right: -1000px;
  transition: all .8s ease;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.lista.open {
  height: 100vh;
  width: 100vw;
  top: 63px;
  right: 25px;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.GiHamburgerMenu {
  top: 0;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  padding-right: 10px;
}

.conList {
  height: 23.1%;
  background-color: #3e5368;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lista li{
  background-color: #3e5368;
  cursor: pointer;
  gap: 4px;
  color: #fff !important;
  font-size: 40px;
  width: 100vw;
  height: 23.1%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;

}

.lista.open li {
  background-color: #3e5368;
  cursor: pointer;
  gap: 4px;
  color: #fff !important;
  font-size: 40px;
  width: 100vw;
  height: 23.1%;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.lista.open li  {
  color: #fff !important;
  text-decoration: none !important;

}
.iconoNav{
  font-size: 20px !important;
}

.lista.open li:hover {
  color: #1890ff !important;
}



.header .ant-space-item:nth-last-child(1) {
  position: absolute;
  right: 0;
  top: 0;
}

.header .ant-space-item:nth-last-child(2) {
  display: none;
}

.nav-responsive {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1000;

}

.lista li {
  list-style: none !important;
  font-size: 40px;
}

.titulo {

  font-weight: 300;
  font-size: 25px;
  padding-left: 13px;
}

.titulo1 {
  font-size: 35px;
  font-family: auto;
  font-weight: bold;
  font-style: italic;
}

.header .ant-menu-root {
  border: none;
  display: flex;
  justify-content: end;
  width: 68vw;
  background-color: #548cc100 !important;
  border: none !important;
}

.ant-menu-overflow-item {
  color: rgb(255, 255, 255);

}

.content {
  background-image: url(../../Images/Playas-1.jpg);
  background-size: 100% 100%;
  margin-top: 64px;
  z-index: -1;
  background-attachment: fixed;
}

header li {
  color: #fff !important;
  font-size: 20px;
}