:root {
  --color-blue: #1890ff;
}

.GiHamburgerMenu {
  display: flex;
  align-items: center;
  height: 64px;
  cursor: pointer;
  color: #fff;
  padding-right: 10px;
}

.conList {
  height: 23.1%;
  background-color: #3e5368;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconoNav {
  font-size: 20px !important;
}



.header .ant-space-item:nth-last-child(1) {
  position: absolute;
  right: 0;
  top: 0;
}


.nav-responsive {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1000;

}

.titulo {
  font-weight: 300;
  font-size: 25px;
  padding-left: 13px;
}

.titulo1 {
  color: #fff;
  font-size: 0.7rem;
  font-family: auto;
  font-weight: bold;
  font-style: italic;
}

.header .ant-menu-root {
  border: none;
  display: flex;
  justify-content: end;
  width: 68vw;
  background-color: #548cc100 !important;
  border: none !important;
}

.ant-menu-overflow-item {
  color: rgb(255, 255, 255);

}

.content {
  background-image: url(../../Images/Playas-1.jpg);
  background-size: 100% 100%;
  z-index: -1;
  background-attachment: fixed;
}

header li {
  color: #fff !important;
  font-size: 15px;
}
header svg{
  font-size: 20px;
}
header .ant-menu-title-content{
  display: flex;
  align-items: center;
  gap: 10px;
}
.header {
  padding: 0 10px !important;
}

  .Nav {
    display: none !important;
  }
@media (min-width:400px) {
  .titulo1{
    font-size: 1rem;
  }
  .GiHamburgerMenu svg{
    font-size: 1.5rem;
  }


  .ant-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width:780px) {
  .titulo1{
    font-size: 1rem;
  }
  .GiHamburgerMenu{
    display: none;
  }
  .ant-space {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .Nav {
    display: flex !important;
  }

  .header .anticon {
    font-size: 50px !important;
  }


}

@media (min-width:951px) {
  .titulo1{
    font-size: 1.3rem;
  }

  .header .ant-space-item:nth-last-child(2) {
    display: none !important;
  }

}
@media (min-width:1600px) {
  .titulo1{
    font-size: 1.5rem;
  }

  header li{
    font-size: 1.3cqw;
  }

}
