.servicies {
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

.link {
    padding-top: .5rem;
    display: flex;
    justify-content: end;
    width: 100%;
}

.link a {
    font-size: .8rem;
}

.titulo-servicies {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-services {
    margin: auto !important;
    color: #1890ff !important;
    font-size: 1.6rem !important;
}

.content-carousel {
    padding: 0 1rem;
}

.carousel-card img {
    height: 120px;
}
.carousel-card .ant-card-body{
    height: 119px !important;
}

.carousel-card .ant-card-meta-title {
    font-size: 1rem !important;
}

.carousel-card .ant-card-meta {
    font-size: .7rem !important;
}


.ant-carousel .slick-dots li button {
    background-color: #1890ff !important;
}

.ant-carousel:nth-last-child(1) {
    display: none;
}

.ant-carousel .slick-dots li {

    height: 10px !important;
    width: 32px !important;

}
.ant-carousel {
    padding-top: 20px !important;
}

.slick-track {
    padding-bottom: 3rem;
}

.servicies .ant-carousel:nth-last-child(2) {
    display: none;
}

.servicies .ant-carousel:nth-last-child(1) {
    display: block;
}

@media (min-width:400px) {
    .content-carousel{
        padding: 0 3rem ;
    }
.carousel-card img{
    height: 150px;
}
}

@media (min-width:600px) {
    .content-carousel{
        padding: 0 1rem ;
    }
    .servicies .ant-carousel:nth-last-child(1) {
        display: none;
    }
    
    .servicies .ant-carousel:nth-last-child(2) {
        display: block;
    }
    .ant-carousel img{
        height: 150px;
    }
    .ant-carousel .ant-card-body{
        height: 150px !important;
    }
}
@media (min-width:900px) {
    .ant-carousel .ant-card-body{
        height: 140px !important;
    }
    .ant-carousel .ant-card-meta-title {
        font-size: 1.2rem !important;
    }
    
    .ant-carousel .ant-card-meta {
        font-size: .9rem !important;
    }
    

}
@media (min-width:1200px) {
    .titulo-services {
        font-size: 2rem !important;
        padding-bottom: 1rem;
    }
    .ant-carousel img{
        height: 200px;
    }
    .link a {
        font-size: 1rem;
    }
}
@media (min-width:1600px) {
    .ant-carousel img{
        height: 250px;
    }

    .ant-carousel .ant-card-meta-title {
        font-size: 1.4rem !important;
    }
    
    .ant-carousel .ant-card-meta {
        font-size: 1rem !important;
    }
    .link a {
        font-size: 1rem;
    }
    .titulo-services {
        font-size: 2.5rem !important;
        padding-bottom: 1rem;
    }
}
@media (min-width:1900px) {
    .ant-carousel img{
        height: 280px;
    }

    .ant-carousel .ant-card-meta-title {
        font-size: 1.6rem !important;
    }
    
    .ant-carousel .ant-card-meta {
        font-size: 1.1rem !important;
    }
    .link a {
        font-size: 1.2rem;
    }
    .titulo-services {
        font-size: 3rem !important;
        padding-bottom: 1rem;
    }
}