.paquetes{
    height: 700px;
    width: 100%;
    
}
.paquetes .ant-row{
  
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    height: 600px;
    justify-content: space-around;
    display: flex;
    background-image: url(../../Images/Vista1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.ant-row .ant-col-7 {
    
    margin: auto !important;
}
.carta1{
    position: relative !important;
    transition-property: margin opacity;
    transition-duration: 1s;
    margin-right: 200px !important;
    z-index: 30 ;
     opacity: 0;
}
.carta1Observada{
    margin-right:0px !important;
     opacity: 1;
   
}
.carta2{
    position: relative !important;
    transition-property: margin opacity;
    transition-duration: 1s;
    margin-right: 200px !important;
    z-index: 20;
     opacity: 0;
}
.carta2Observada{
     opacity: 1;
    margin-right:0px !important;
}
.carta3{
    position: relative !important;
    transition-property: margin opacity;
    transition-duration: 1s;
    z-index: 10;
    opacity: 0;
    margin-right: 200px !important;
}
.carta3Observada{
    margin-right:0px !important;
     opacity: 1;
}

.paquetes .ant-row:nth-last-child(1){
    display: none !important;
   }

.titulo-paquetes{
    z-index: -1;
    display: flex;
    height: 100px;
    width: 100% !important;
   justify-content: center;
    background-color: rgba(255, 255, 255, 0.822);
    align-items: center;
  
}
.titulofalse{
    padding-bottom: 200px;
    opacity: 0;
    transition: all 1s ease;
}
.tituloObservado{
    padding-bottom: 0;
    opacity: 1;

}


.titulo-paquetes .ant-typography{
    margin: auto !important;
    color: #000 !important;
}
.precio{
    color: var(--color-blue) !important;
}
.ant-card-body ul{
    display: flex;
    flex-direction: column;
}
.paquetes .ant-card-body ul li{
    font-size: 22px !important;
}
.paquetes ul{
    width: 300px;
}
.paquetes .ant-card{
    
    background-color: rgba(255, 255, 255, 0.466);
}
.paquetes .ant-card:hover{
    background-color: rgb(255, 255, 255);
}
@media(min-width:250px) and (max-width:650px){
    .paquetes{
        height: 1300px;
        width: 100%;
        
    }
    .paquetes .ant-row{
        height: 1200px !important;
        display: flex;
        flex-direction: column;       
        align-items: flex-end !important;
        width: 100%;

        background-size: 100% 100%;

    }
    .paquetes .ant-card-body ul li{
        font-size: 23px;
    }
    .paquetes .ant-row:nth-last-child(1){
        display: flex !important;
       }

    .paquetes .ant-col {
        display: flex;
        justify-content: center ;
     
  
    }
    .paquetes .ant-row:nth-last-child(2){
    display: none !important;
   }
   .paquetes .ant-row .ant-col-10 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col-5 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col:nth-last-child(2){
    margin: auto !important;
    }

}
@media(min-width:651px) and (max-width:952px){
    .paquetes{
        height: 1300px;
        width: 100%;
        
    }
    .paquetes .ant-row{
        height: 1200px !important;
        display: flex;
        flex-direction: column;       
        align-items: flex-end !important;
        width: 100%;

        background-size: 100% 100%;

    }
    .paquetes .ant-card-body ul li{
        font-size: 23px;
    }
    .paquetes .ant-row:nth-last-child(1){
        display: flex !important;
       }

    .paquetes .ant-col {
        display: flex;
        justify-content: center ;
     
  
    }
    .paquetes .ant-row:nth-last-child(2){
    display: none !important;
   }
   .paquetes .ant-row .ant-col-10 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col-5 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col:nth-last-child(2){
    margin: auto !important;
    }

}
@media(min-width:953px) and (max-width:1100px){
    .carta1{
        margin-right:0px !important;
    }
  
    .carta2{
        margin-right:0px !important;
    }

    .carta3{
        margin-right:0px !important;
    }
 
    .paquetes{
        min-height: 1000px !important;
        width: 100%;
        
    }
    .paquetes .ant-row{
        min-height: 900px !important;
      
        width: 100%;

        background-size: 100% 100%;

    }
    .paquetes .ant-card-body ul li{
        font-size: 23px;
    }
    .paquetes .ant-row:nth-last-child(1){
       
        display: flex !important;
       }

    .paquetes .ant-col {
        display: flex;
        justify-content: center ;
     
  
    }
    .paquetes .ant-row:nth-last-child(2){
    display: none !important;
   }
   .paquetes .ant-row .ant-col-10 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col-5 {
    
    margin: auto !important;
    }
    .paquetes .ant-row .ant-col:nth-last-child(2){
    margin: auto !important;
    }
}
@media(min-width:1101px){

    .paquetes .ant-card-body ul li{
        font-size: 23px;
    }
    .paquetes .ant-row:nth-last-child(2){
        display: flex !important;
       }
       .paquetes .ant-row:nth-last-child(1){
        display: none !important;
       }
    .paquetes .ant-col {
        display: flex;
        justify-content: center ;
     
  
    }
    

}
