.Informacion{
    background-color: #fff; 
    padding: 1rem 1rem;
}
.titulo-Informacion{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100% !important;
    padding-top: 20px;
}
.titulo-Informacion .ant-typography{
    font-size: 1.6rem !important;
}
.parrafo h2{
    font-size: 1.2rem !important;
}
.ant-image{
    margin: auto !important;
    display: block !important;
}

.parrafo{
    margin: auto;
    font-size: .8rem;
    text-align: justify;
   
}
.Informacion-content-img h2{
    font-size: 1.2rem !important;
}s
.content-parrafo{
    margin-top: 20px;
}
@media(min-width: 600px){
    .titulo-Informacion .ant-typography{
        font-size: 1.8rem !important;
    }
    .parrafo h2{
        font-size: 1.4rem !important;
    }
    .parrafo{
        font-size: 1rem;
    }
    .Informacion-content-img h2{
        font-size: 1.4rem !important;
    }
    .Informacion{

        padding: 2rem 2rem;
    }
}
@media(min-width: 1200px){
    .titulo-Informacion .ant-typography{
        font-size: 2rem !important;
    }

    .Informacion-content-img {
        width: 50%;
    }
    .Informacion-content-img h2{
        font-size: 1.6rem !important;
    }
}
@media(min-width: 1600px){
    .titulo-Informacion .ant-typography{
        font-size: 2.5rem !important;
    }
    .parrafo h2{
        font-size: 1.6rem !important;
    }
    .parrafo{
        font-size: 1.2rem;
    }
    .Informacion-content-img h2{
        font-size: 1.6rem !important;
    }
}
@media(min-width: 1900px){
    .titulo-Informacion .ant-typography{
        font-size: 3rem !important;
    }
    .parrafo h2{
        font-size: 1.8rem !important;
    }
    .parrafo{
        font-size: 1.4rem;
    }
    .Informacion-content-img h2{
        font-size: 1.8rem !important;
    }
}